# Python Basic Assignment-1

#### Question 1
1. In the below elements which of them are values or an expression?
eg:- values can be integer or string and expressions will be mathematical operators.
*,'hello', -87.8,-,/,+,6

#### Answer :
1. The mathematical operators are in the above elements are *,-,/,+
2. 'hello' is a String
3. -87.8 is Float
4. 6 is an Integer

#### Question 2
What is the difference between string and variable?

#### Answer :
1. Variable
    -> Variable is a container or label which can store the values(data).
        (for eg: int, float, str)
2. String
    -> String is one of the datatype which is sequence of characters which represents a text
    -> It usually enclosed in Double quotes " " or single quotes ' '
        (for eg: 'Data Science')

#### Question 3
Describe three different Data Types ?

#### Answer :
The datatypes in Python are int, float and String
1. int    -> represents integer values 
            (eg. a = 200, b = -100)
2. float  -> represents the floating point
            (eg. c = 1.2, d = -8.5)
3. string -> represents the sequence of characters also the characters can be numbers, special character, and alphabates. 
            (eg. s1 = "Karthik", s2 = "karthik1703@gmail.com")

#### Question 4
What is an expression made up of? What do all expressions do?

#### Answer :
    -> An expression is a combination of values, variables, operators and calls to functions
    -> It evaluates expressions from left to right.
    (eg. (1+2*3/4) is an expression)

#### Question 5
This assignment statements, like spam = 10. What is the difference between an expression and a statement?

#### Answer :
1. Expression
    -> An expression is a combination of values, variables, and operators.
    -> If we type an expression, the interpreter evaluates it and gives the result, which means it finds the value of the expression.
    (eg. (1+2*3/4) is an expression)
2. Statement
    -> A statement is where some value or expression is assigned to a variable or constant.
    (eg. spam = 1 * 2, here 'spam = 1 * 2' is a assignment statement whereas the '1 * 2' is an expression.)

#### Question 6
After running the following code, what does the variable bacon contain?
bacon = 22
bacon + 1

#### Answer :
bacon = 22 (still the value was not assigned to bacon so it remains same)

In [1]:
bacon = 22
bacon + 1

23

23 is an output, it increaments the value of bacon

#### Question 7
What should the values of the following two terms be?
'spam' + 'spamspam'
'spam' * 3

#### Answer :
the value of 'spam' + 'spamspam' -> 'spamspamspam'
the value of 'spam' * 3 -> 'spamspamspam'

In [2]:
'spam' + 'spamspam'

'spamspamspam'

In [3]:
'spam' * 3

'spamspamspam'

#### Question 8
Why is eggs a valid variable name while 100 is invalid?

#### Answer :
    Variable name must start with a letter or the underscore character. It cannot start with a number. 
    It can only contain alpha-numeric characters and underscores (A-z, 0-9, & _ ). The names of variables are case-sensitive.
    eggs is a valid variable name

In [4]:
eggs = 'Hello'
print(eggs)

Hello

It gives the correct result, therefore 'eggs' is a valid variable.

In [5]:
100 = 'Hello'
print(100)

SyntaxError: cannot assign to literal (2152246889.py, line 1)

In [ ]:
It raises the error, therefore 100 is an invalid variable.

#### Question 9:
What three functions can be used to get the integer,floating-point number,or string version of a value?

#### Answer :
    int(),float(),and str() functions will evaluate to the integer,floating-point and string of the value which we passed.

In [ ]:
print('INT ->' , int(17.0))
print('FLOAT ->' , float(17))
print('STRING ->' , str(17))

#### Question 10
Why does this expression cause an error? how can you fix it?
'I have eaten ' + 99 + 'burritos.'

In [ ]:
'I have eaten ' + 99 + 'burritos.'

The above expression raised an error, because 99 is not a string. 
We need to typecast the datatype from int to string
(eg. 'I have eaten ' + str(99) + 'burritos.')

In [ ]:
'I have eaten ' + str(99) + ' burritos.'